<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="primaryNav">
  <a class="navbar-brand current" href="/">
    <img class="suite-logo" src="/img/ci_concept.png" alt="H-chain Logo" />H-CHAIN SUITE
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
{{!--     <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="suiteDropdown" href="#" data-toggle="dropdown">SUITE</a>

        <div class="dropdown-menu">
          <a class="text-truffle" href="/h-chain.html">
            <img class="suite-logo" src="/img/ci_concept.png" alt="H-chain Logo" /><span class="narrow">H-CHAIN</span>
          </a>
          <!--<a class="text-truffle" href="/truffle">-->
            <!--<img class="suite-logo" src="/img/truffle-logomark.svg" alt="Truffle Logo" /><span class="narrow">TRUFFLE</span>-->
          <!--</a>-->
          <!--<a class="text-ganache" href="/ganache">-->
            <!--<img class="suite-logo" src="/img/ganache-logomark.svg" alt="Ganache Logo" />Ganache-->
          <!--</a>-->
          <!--<a class="text-drizzle" href="/drizzle">-->
            <!--<img class="suite-logo" src="/img/drizzle-logomark.svg" alt="Drizzle Logo" />dri<span class="drizzle-z-skew-1">z</span><span class="drizzle-z-skew-2">z</span>le-->
          <!--</a>-->
        </div>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link" href="/docs">DOCS</a>-->
        <a class="nav-link" href="/docs/h-chain/overview.html">DOCS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tutorials">TUTORIALS</a>
      </li>
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="/boxes">BOXES</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="/blog">BLOG</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="/community">COMMUNITY</a>-->
      <!--</li>-->
    </ul> --}}
  </div>
</nav>
